.title {
    background-color: #ff4c68;
    
}
.container {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}
body, p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
}
