#title {
    color: white;
}

title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
}
body, p, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Montserrat bold equivale a 700 en su escala de peso */
}
.navbar-padding-bottom {
    padding-bottom: 4.5rem;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-margin {
    margin: 5% 3% 5% 0;
}

.rotated-image {
    transform: rotate(25deg);
}
p {
    font-size: 3.5rem;
}


/* 4.7 */

section#features {
    background-color: #fff;
    padding: 50px 0;
    
}

section#features h3 {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
}

section#features i {
    color: #ef8172;
}
section#features i:hover {
    color: #ff4c68;
}

section#features p {
    color: #8f8f8f;
    font-family: 'Montserrat';
}

/* 4.7 */

/* 4.8 */
#testimonials {
    background-size: cover;
    background-position: center;
    background-color: #ef8172;
}
#press {
    background-color:#ef8172 !important;
}
#press img {
    margin: 10px;
    width: 150px;
    height: auto;
}

/* 4.8 */


/* 4.10 */
#suscripciones {
    background-color: white !important;
  }

  .card {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-header {
  background-color: white;
}

.card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.card-body {
  padding: 20px;
}

.card-body h3 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.2rem;
}

.card-body h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1rem;
}

.card-body p {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1rem;
}

.card-body button {
  font-family: Montserrat;
  font-weight: 700;
  color: black;
  background-color: white;
  border-color: black;
}
/* 4.10 */


